.idea
api/flaskr/__pycache__/
api/flaskr/db/__pycache__/
api/flaskr/models/__pycache__/
api/flaskr/db_utils/__pycache__/
client/npm-debug.log
api/instance/flaskr.sqlite
secrets/
Python-3.9.10*
api/.venv/lib64
api/.venv/pyvenv.cfg
api/.venv/bin/python
api/.venv/bin/python3
api.log
client.log
api/instance/flaskr.sqlite